@use '../variables';

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .gallery__adherent {
    border-radius: variables.$radius-input;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &--male {
      background-color: variables.$color-male;
    }

    &--female {
      background-color: variables.$color-female;
    }

    > .picture {
      height: 200px;
      margin-bottom: 10px;
      width: 160px;

      > img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }

    > .firstName, .lastName {
      text-align: center;
    }
  }
}