services:

  db:
    volumes:
      - ./database:/var/lib/mysql

  mailbox:
    image: mailhog/mailhog
    ports:
      - '8025:8025'

  node:
    ports:
      - '9000:9000'

  # dcru phpqa /tools/php-cs-fixer fix /project/src --config=/project/.php-cs-fixer.php
  # dcru phpqa /tools/phpstan analyse src --level=max
  phpqa:
    image: jakzal/phpqa:php8.3
    working_dir: /project
    volumes:
      - .:/project
