{% block price_option_row %}
  <div class="columns">
    <div class="column is-three-quarters">
      {{ form_row(form.label) }}
      {{ form_widget(form.rank, {'attr': {'data-rank': ''}}) }}
    </div>
    <div class="column auto">
      {{ form_row(form.amount) }}
    </div>
  </div>
{% endblock %}
