@use '../color';
@use '../icons';

.wysiwyg-content {
  ul {
    font-size: 1.3rem;
    line-height: 1.8em;
    margin-bottom: 20px;

    li {
      padding-left: 30px;

      &:before {
        @include icons.icon(icons.$icon-checkmark);
        color: color.$primary-color;
        font-size: 0.8em;
        margin-right: 10px;
      }
    }
  }
}
