@use '../../bulma/variables' as bulma;
@use '../../../front/icons';

.schedule-list {
  border: 1px solid bulma.$primary;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px 20px 20px;

  .add-item {
    left: 0;
    right: unset;
  }

  .collection-type-item {
    background-color: bulma.$light;
    border: none;
    border-radius: 5px;

    label {
      color: bulma.$black-bis;
    }

    .schedule-help {
      border-top: 2px solid bulma.$input-border-color;
      font-size: 1em;
      font-style: italic;
      padding: 12px 0 7px 0;
      text-align: center;
    }
  }
}
