@use '../variables';
@use '../../front/icons';

.form-group {
  > label {
    position: relative;

    &.required {
      padding-right: 12px;

      &:after {
        content: '*';
        color: variables.$color-danger;
        font-size: 1.5rem;
        line-height: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &--checkbox {
    > label {
      padding-left: 10px;
    }
  }
}

.container-wysiwyg {
  margin-bottom: 20px;

  .tox-tinymce {
    border-color: variables.$color-input-border;
    border-radius: variables.$radius-input;
    min-height: 300px;

    .tox-toolbar__primary {
      background-color: variables.$color-wysiwyg-header !important;
    }

    .tox-edit-area__iframe {
      background-color: variables.$color-input-background !important;
    }
  }

  &--medium {
    .tox-tinymce {
      min-height: 200px;
    }
  }

  &--small {
    .tox-tinymce {
      min-height: 140px;
    }
  }
}

.select {
  display: block;

  select {
    width: 100%;
  }
}

.file {
  display: flex;
  width: 100%;

  label.file-label {
    display: flex;
    flex-grow: 1;

    .file-name {
      background-color: variables.$color-input-background;
      flex-grow: 1;
      max-width: none;
    }
  }

  .download {
    margin-left: 20px;
  }
}

.radio-wrapper {
  padding-top: 5px;

  > label {
    margin: 0 20px 0 10px;
  }
}

.help-text {
  font-style: italic;
  font-size: 0.9em;

  * {
    font-size: 1em;
    padding: 0;
    margin: 0;
  }
}

.fieldset {
  border: 1px solid variables.$color-primary;
  border-radius: variables.$radius-input;
  margin-bottom: 5px;
  padding: 20px;
  position: relative;

  > label {
    position: absolute;
    background-color: variables.$color-global-background;
    left: 20px;
    padding: 0 10px;
    top: -11px;
  }
}

.collection-type {
  .collection-type-item {
    background-color: variables.$color-primary;
    border-radius: variables.$radius-input;
    border: 1px solid variables.$color-input-border;
    margin-top: 20px;
    padding: 10px;
  }

  &--sortable {
    .collection-type-item {
      padding-left: 60px;
      position: relative;

      &:before {
        @include icons.icon(icons.$icon-drag);
        cursor: pointer;
        font-size: 24px;
        left: 15px;
        position: absolute;
        top: calc(50% - 12px);
      }
    }
  }
}
